@model workout_analysis.mvc.Models.WorkoutIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Workouts</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.EditorFor(model => model.ApiKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "Api Key" } })
                    @Html.ValidationMessageFor(model => model.ApiKey, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.AccessToken, new { htmlAttributes = new { @class = "form-control", @placeholder = "Access Token" } })
                    @Html.ValidationMessageFor(model => model.AccessToken, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row top-buffer bottom-buffer">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.EditorFor(model => model.SearchRequest.SearchTerms, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search Terms", @title = Model.SearchRequest.SearchTermsHelp } })
                    @Html.ValidationMessageFor(model => model.SearchRequest.SearchTerms, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
        
    </div>
}

@Html.Partial("workoutList",Model.Workouts)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            // create DatePicker from input HTML element
            $("#SearchRequest_StartedAfter").kendoDatePicker();
            $("#workoutList").kendoGrid({
                height: 550,
                sortable: true,
                filterable:true
            });
        });
    </script>

}