@model IEnumerable<mapmyfitnessapi_sdk.models.Workout>

<table class="table" id="workoutList">
    <tr>
        <th>
            Started At
        </th>
        <th>
           Name
        </th>
        <th>
            Active Time
        </th>
        <th>
            Distance
        </th>
        <th>
            Average Speed
        </th>
        <th>
            Max Speed
        </th>
        <th>
            Min Speed
        </th>
        <th>
            Elapsed Time
        </th>
        <th>
            Route
        </th>
        <th>
            Activity Type
        </th>
        <th>
            User
        </th>
        <th>
            Gear
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @{
                    var url = string.Format("http://www.mapmyrun.com/workout/{0}", item.Id);
                    <a href="@url" target="new">@item.Name</a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGear)
            </td>
        </tr>
    }

</table>
