@model IEnumerable<mapmyfitnessapi_sdk.models.Workout>

<table class="table" id="workoutList">
    <tr>
        <th>
            Started At
        </th>
        <th>
           Name
        </th>
        <th>
            Active Time
        </th>
        <th>
            Distance
        </th>
        <th>
            Average Speed
        </th>
        <th>
            Elapsed Time
        </th>
        <th>
            Route
        </th>
        <th>
            Activity Type
        </th>
        <th>
            User
        </th>
        <th>
            Gear
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StartDateTime.ToLocalTime()
            </td>
            <td>
                @{
                    var workoutUrl = string.Format("http://www.mapmyrun.com/workout/{0}", item.Id);
                    <a href="@workoutUrl" target="new">@(item.Name ?? item.Id.ToString())</a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedTime)
            </td>
            <td>
                @{
                    var routeUrl = string.Format("http://www.mapmyrun.com/routes/view/{0}", item.Route);
                    <a href="@routeUrl" target="new">@item.Route</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @{
                    var userUrl = string.Format("http://www.mapmyrun.com/profile/{0}", item.User);
                    <a href="@userUrl" target="new">@item.User</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGear)
            </td>
        </tr>
    }

</table>
